:root {
    --bg-primary: #7DA0CA;
    --bg-secundary: #021024;

    --primary: #052659;
    --secundary: #5483B3;

    --other: #C1E8FF;

    --primaryFont: "Poppins", sans-serif;
    --secondaryFont: "Roboto", sans-serif;

    --table-bg-head: #B3C8CF;
}

/* 
.nav-item:hover {
    background-color: var(--bg-primary);
    padding: 0;
    margin: 0;
} */

body {
    font-family: var(--secondaryFont);
}

h1,
h2,
h3,
a {
    font-family: var(--primaryFont);
}

/* .btn-info:hover {
    background-color: var(--primary);
    color: white;
} */
